In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv(r'/content/FoodBalanceSheets_E_Africa_NOFLAG (1).csv', encoding='ISO-8859-1')
df.head()

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

In [16]:
df.groupby('Item')['Y2014','Y2017'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [22]:
# Question 12
print(df.Y2015.mean(), df.Y2015.std())

135.23596649549236 1603.4039839423301

In [24]:
df['Y2016'].isnull().sum()

1535

In [25]:
df.head()

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

In [27]:
df.corr()

              Area Code  Item Code  Element Code  ...     Y2016     Y2017     Y2018
Area Code      1.000000  -0.005159     -0.000209  ...  0.005247  0.005006  0.005665
Item Code     -0.005159   1.000000     -0.024683  ...  0.020109  0.021494  0.021314
Element Code  -0.000209  -0.024683      1.000000  ...  0.023444  0.024254  0.024279
Y2014          0.006164   0.021722      0.024457  ...  0.996081  0.995230  0.994872
Y2015          0.005472   0.020857      0.023889  ...  0.995739  0.988048  0.988208
Y2016          0.005247   0.020109      0.023444  ...  1.000000  0.992785  0.992757
Y2017          0.005006   0.021494      0.024254  ...  0.992785  1.000000  0.998103
Y2018          0.005665   0.021314      0.024279  ...  0.992757  0.998103  1.000000

[8 rows x 8 columns]

In [28]:
df.groupby('Element')['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                             Y2014  ...       Y2018
Element                                             ...
Domestic supply quantity                1996716.35  ...  2161192.10
Export Quantity                          150020.64  ...   181594.80
Fat supply quantity (g/capita/day)        10225.56  ...    10258.69
Feed                                     216927.89  ...   233489.68
Food                                    1212332.49  ...  1303841.28
Food supply (kcal/capita/day)            454257.00  ...   455261.00
Food supply quantity (kg/capita/yr)       49650.63  ...    49056.85
Import Quantity                          274144.48  ...   287997.09
Losses                                   153223.00  ...   163902.00
Other uses (non-food)                     78718.13  ...    91300.97
Processing                               282923.00  ...   308429.00
Production                              1931287.75  ...  2075072.89
Protein supply quantity (g/capita/day)    11836.46  ...    11833.56
Residuals                                 30149.00  ...    34864.00
Seed                                      21922.92  ...    25263.14
Stock Variation                           58749.83  ...    20577.91
Total Population - Both sexes           1031585.00  ...  1140605.00
Tourist consumption                         416.00  ...       90.00

[18 rows x 5 columns]

In [29]:
df.groupby('Element')['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [32]:
df.groupby('Element')['Element','Y2018'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

In [55]:
df.head()

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

In [66]:
df[(df.Area == "Algeria") & (df.Element == "Import Quantity" )]['Y2018'].sum()

36238.29

In [37]:
len(df['Area'].unique())

49

In [ ]:
df.query('Area=="Algeria" & Element == "Import Quantity" ')['Y2018'].sum()

In [54]:
df.groupby('Area')['Element','Y2018'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                                  Y2018
Area
Algeria                       341729.98
Angola                        235206.68
Benin                         124960.70
Botswana                       23129.08
Burkina Faso                  112970.72
Cabo Verde                     14622.60
Cameroon                      233022.93
Central African Republic       30101.57
Chad                           72282.24
Comoros                           59.84
Congo                          42005.53
CÃ´te d'Ivoire                 227018.00
Djibouti                       23718.96
Egypt                         852652.92
Eswatini                       55045.07
Ethiopia                      450788.86
Ethiopia PDR                       0.00
Gabon                          28339.38
Gambia                         23513.80
Ghana                         358915.64
Guinea                        103262.08
Guinea-Bissau                  18997.92
Kenya                         270916.80
Lesotho                        19109.23
Liberia                        29629.83
Madagascar                    134576.44
Malawi                        187366.09
Mali                          159026.42
Mauritania                    157479.95
Mauritius                      47150.91
Morocco                       399271.27
Mozambique                    164934.05
Namibia                        29350.04
Niger                         133982.86
Nigeria                      1499774.24
Rwanda                         74839.08
Sao Tome and Principe          12806.49
Senegal                        95493.82
Seychelles                       442.34
Sierra Leone                   55981.73
South Africa                  509787.97
Sudan                         268054.39
Sudan (former)                     0.00
Togo                           54872.00
Tunisia                       127343.17
Uganda                        222147.25
United Republic of Tanzania   349763.41
Zambia                        101604.27
Zimbabwe                       76581.41

In [52]:
a

[]